In [29]:
# Import dependencies for calculations and charting
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import linregress
from statistics import mean, median, mode

In [30]:
# Import two data CSV files 
city_data = pd.read_csv("./raw_data/city_data.csv", low_memory = False)
ride_data = pd.read_csv("./raw_data/ride_data.csv", low_memory = False)

In [31]:
# Merge the files on common column: city 
pyber_df = pd.merge(city_data, ride_data, how='inner', on='city')
pyber_df.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [32]:
# Calculate Average Fare ($) Per City
   # group by city, find the average of the fare column

city_group = pyber_df.groupby('city')

average_fare = city_group['fare'].mean()

In [50]:
# Calculate Total Number of Fares Per City
total_fare = city_group['fare'].sum()
total_fare.head()

city
Alvarezhaven    741.79
Alyssaberg      535.85
Anitamouth      335.84
Antoniomouth    519.75
Aprilchester    417.65
Name: fare, dtype: float64

In [33]:
# Calculate Total Number of Rides Per City
total_rides = city_group['ride_id'].count()
total_rides.head()

city
Alvarezhaven    31
Alyssaberg      26
Anitamouth       9
Antoniomouth    22
Aprilchester    19
Name: ride_id, dtype: int64

In [44]:
# Calculate Total Number of Drivers Per City
total_drivers = city_group['driver_count'].unique()
total_drivers.head()

city
Alvarezhaven    [21]
Alyssaberg      [67]
Anitamouth      [16]
Antoniomouth    [21]
Aprilchester    [49]
Name: driver_count, dtype: object

In [35]:
# Calculate City Type (Urban, Suburban, Rural)
group_type = pyber_df.groupby('type')
group_type

In [52]:
# Create DataFrame with above information and reset index

grouped_rides = pd.DataFrame({'Average Fare' : average_fare,
                              'Total Fare'   : total_fare,
                              'Total Rides'  : total_rides,
                              'Drivers'      : total_drivers  })

grouped_rides = grouped_rides.reset_index()

grouped_rides.head()

           city  Average Fare Drivers  Total Fare  Total Rides
0  Alvarezhaven     23.928710    [21]      741.79           31
1    Alyssaberg     20.609615    [67]      535.85           26
2    Anitamouth     37.315556    [16]      335.84            9
3  Antoniomouth     23.625000    [21]      519.75           22
4  Aprilchester     21.981579    [49]      417.65           19